.load-more {
  width: 1091.23px;
  // border: 1px solid;
  margin: 0 auto;
  margin-top: 20px;
  h2 {
    width: 115px;
    margin: 0 auto;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #33a0ff;
    border-bottom: 1px solid #33a0ff;
  }
  .list {
    margin-top: 175.49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 40px;
      color: #22262a;
      :nth-child(1){
         display: flex;
         justify-content: center;
      }
      :nth-child(2){
         margin-top: 53.81px;
      }
    }
  }
}
