.wrapper{
   width: 1500px;
   // border: 1px solid;
   min-height: 50px;
   margin: 0 auto;
   padding-top: 28.74px;
   background-color: #FFFFFF;
   hr{
      width: 1500px;
      // height: 2px;
      border: 1px solid #FAFAFB;
      background-color: #FAFAFB;
   }
}